<h2>Privacy</h2>
<p>Your email will not be shared with any other parties outside of the scope of this application. This application is the sole property of the creator (Lowell Mower) and will not be sold, distrubuted, or shared knowingly or willingly.</p>
<p>All information submitted in this application remains the right of the user and under no circumstances does this application reserve any right to a user's name, email, password or likeness. This information is for the sole use of testing the application and will not be made publically accessable information.</p>