<h2>Term of Service</h2>
<h4>Service Provided</h4>
<p>This application is built for the sole purpose of testing the Twitter API and the ability to log in users through Oauth. The service provided is on an as is basis with no promise of value, service, product, etc. The user freely and willingly enters all information into this application with the understanding it has been built with dues diligence to protect that said information. There is no gaurentee of trade or service for said user information.</p>

<h4>Information Collected</h4>
<p>This application will collect a user's email and password and save that information in a database which is not accessible to any third party. User's passwords are collected by manual user entry and user's emails are collected through a call back from Twitter's Omni Authorization API. No user information is shared with other parties.</p>